@import 'reset';
.main {
    &__inner {
        padding: 56px 0 150px;
        max-width: 600px;
        position: relative;
    }
    &__img {
        position: absolute;
        width: 1150px;
        top: -188px;
        left: 540px;
        img {
            width: 100%;
        }
        @media screen and (max-width: 1600px) {
            width: 950px;
            top: -90px;
        }
        @media screen and (max-width: 1200px) {
            width: 750px;
            top: 0;
        }
    }
    &__top {
        display: flex;
        align-items: center;
    }
    &__user {
        display: flex;
        align-items: center;
        &-img {
            width: 76px;
            flex-shrink: 0;
            margin-right: 22px;
            img {
                width: 100%;
                border-radius: 50%;
            }
        }
        &-title,
        &-name {
            font-size: 16px;
            line-height: 130.4%;
        }
        &-name {
            font-weight: bold;
        }
    }
    &__time {
        display: flex;
        align-items: center;
        margin-left: 54px;
        &-img {
            width: 40px;
            flex-shrink: 0;
            margin-right: 19px;
            img {
                width: 100%;
            }
        }
        &-title,
        &-num {
            font-size: 16px;
            line-height: 130.4%;
        }
        &-num {
            font-weight: bold;
            color: #DB251A;
        }
    }
    &__title {
        font-size: 66px;
        line-height: 108.4%;
        color: #F76D41;
        margin-top: 40px;
    }
    &__subtitle {
        font-size: 40px;
        line-height: 130.4%;
        margin-top: 12px;
    }
    &__desc {
        font-size: 24px;
        line-height: 152.4%;
        margin-top: 12px;
    }
    &__items {
        margin-top: 19px;
    }
    &__item {
        display: flex;
        align-items: center;
        &:not(:last-child) {
            margin-bottom: 19px;
        }
        &-num {
            font-size: 40px;
            line-height: 108.4%;
            color: #F76D41;
            margin-right: 15px;
            flex-shrink: 0;
        }
        &-text {
            font-size: 20px;
            line-height: 152.4%;
        }
    }
    &__badge {
        margin-top: 33px;
    }
}

.info {
    padding: 20px 0 130px;
    &__inner {
        padding-left: 510px;
        position: relative;
    }
    &__img {
        position: absolute;
        width: 458px;
        left: 0;
        top: 0;
        img {
            width: 100%;
        }
    }
    &__title {
        font-size: 46px;
        line-height: 130.4%;
    }
    &__items {
        margin-top: 40px;
        display: flex;
    }
    &__item,
    &__item2 {
        display: flex;
        align-items: center;
        &:not(:last-child) {
            margin-right: 89px;
        }
        &-img {
            flex-shrink: 0;
            margin-right: 23px;
        }
        &-text {
            font-size: 20px;
            line-height: 152.4%;
            span,
            strong {
                display: block;
            }
        }
    }
    &__item2 {
        margin: 40px 0 0 0 !important;
        &-text {
            span {
                font-size: 15px;
                line-height: 128.9%;
                margin-top: 4px;
            }
        }
    }
    &__badge {
        margin-top: 45px;
    }
}

.detail {
    background: linear-gradient(90deg, #F76D41 0%, #A96EE4 100%);
    padding: 92px 0 72px;
    text-align: center;
    &__title {
        font-size: 46px;
        line-height: 130.4%;
        color: #FFFFFF;
    }
    &__items {
        margin-top: 93px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }
    &__item {
        filter: drop-shadow(5px 15px 40px rgba(30, 35, 66, 0.15));
        border-radius: 20px;
        padding: 80px 30px 25px;
        position: relative;
        background-image: url(../img/Subtract.png);
        background-size: 100% auto;
        background-repeat: no-repeat;
        &-icon {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 99px;
            height: 99px;
            padding: 10px;
            background: #F76D41;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-title {
            font-size: 32px;
            line-height: 130.4%;
        }
        &-desc {
            font-size: 20px;
        }
        &-text {
            font-size: 16px;
            line-height: 161.4%;
            margin-top: 15px;
        }
    }
    &__subtitle {
        margin-top: 43px;
        font-size: 40px;
        line-height: 130.4%;
        color: #FFFFFF;
    }
    &__badge {
        margin: 39px auto 0;
    }
}

.footer {
    padding: 23px 0 29px;
    text-align: center;
    &__link {
        font-size: 15px;
        line-height: 130.4%;
        text-decoration-line: underline;
        display: block;
        margin-bottom: 5px;
    }
    &__ip {
        font-size: 15px;
        line-height: 130.4%;
        margin-top: 30px;
    }
    &__info {
        max-width: 270px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        @media screen and (max-width: 992px) {
            max-width: unset;
            display: block;
            span {
                display: block;
                margin-top: 10px;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .main {
        &__inner {
            padding-bottom: 50px;
        }
    }
    .info {
        &__inner {
            padding-left: 370px;
        }
        &__img {
            width: 355px;
        }
    }
    .detail {
        &__items {
            grid-template-columns: 1fr;
            max-width: 360px;
            gap: 90px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media screen and (max-width: 992px) {
    .main {
        background-image: url(../img/main-bg.jpg);
        background-size: cover;
        &__inner {
            max-width: 100%;
            padding: 30px 0 43px;
            display: flex;
            flex-direction: column;
        }
        &__time {
            display: none;
        }
        &__top {
            justify-content: center;
        }
        &__img {
            position: static;
            width: 400px;
            margin: 26px auto 0;
            @media screen and (max-width: 450px) {
                width: 100%;
            }
        }
        &__title {
            font-size: 32px;
            text-align: center;
            margin-top: 24px;
        }
        &__subtitle {
            font-size: 24px;
            margin-top: 14px;
            text-align: center;
        }
        &__desc {
            order: 10;
            text-align: center;
            margin-top: 33px;
        }
        &__items {
            order: 11;
            margin: 14px auto 0;
            max-width: 450px;
        }
        &__badge {
            margin: -40px auto 0;
            position: relative;
            z-index: 2;
        }
        &__item {
            &-text {
                font-size: 14px;
                @media screen and (max-width: 768px) {
                    br {
                        display: none;
                    }
                }
            }
        }
    }
    .info {
        padding: 44px 0 54px;
        text-align: center;
        &__inner {
            padding: 0;
        }
        &__img {
            position: static;
            width: 265px;
            margin: 17px auto 0;
        }
        &__title {
            font-size: 28px;
        }
        &__items {
            margin-top: 25px;
            display: block;
        }
        &__item {
            display: block;
            justify-content: center;
            flex-wrap: wrap;
            &:not(:last-child) {
                margin: 0 0 35px;
            }
            &-img {
                margin: 0 0 11px;
            }
            &-text {
                width: 100%;
                font-size: 18px;
                span,
                strong {
                    display: unset;
                }
            }
        }
        &__item2 {
            display: block;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 28px !important;
            &-img {
                margin: 0 0 14px;
            }
            &-text {
                width: 100%;
                font-size: 18px;
                strong {
                    font-size: 18px;
                }
            }
        }
        &__badge {
            margin-top: 33px;
        }
    }
    .detail {
        padding: 40px 0;
        &__title {
            font-size: 28px;
        }
        &__items {
            margin-top: 130px;
        }
        &__item {
            padding-left: 20px;
            padding-right: 20px;
        }
        &__subtitle {
            margin-top: 35px;
            font-size: 24px;
        }
        &__badge {
            margin-right: 32px;
        }
    }
    .footer {
        padding: 38px 0;
    }
}

@media screen and (max-width: 390px) {
    .detail {
        &__items {
            gap: 65px;
        }
        &__item {
            &-icon {
                width: 90px;
                height: 90px;
                img {
                    width: 55px;
                    height: auto;
                }
            }
        }
    }
}

@media screen and (max-width: 370px) {
    .detail {
        &__item {
            padding-top: 60px;
            &-icon {
                width: 80px;
                height: 80px;
                img {
                    width: 50px;
                }
            }
            &-text {
                line-height: 125%;
            }
        }
    }
}